<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="LRIG - Laboratory Robotics Interest Group" class="img-responsive text-center" src="modules/core/client/img/brand/header.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Your one stop shop for all things laboratory science and automation
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div>
    <h2>Laboratory Science, Process, Automation, and Engineering</h2>
    <p>We're here to help build a community that facilitates innovation and standardization in all aspects of laboratory technology.
    <p>With a membership consisting of individuals from pharmaceutical and biotechnical industries and also from the many academic institutions. Each year chapters typically hold a Technology Exhibition to showcase the latest in laboratory instrumentation, automation, software, reagents and consumables.  We also host an annual Scientific Meetings in which we strive to present topics ranging from cutting-edge biotechnologies to thought-provoking challenges in today’s life sciences. Both types of meetings provide a wonderful networking opportunity for scientists and engineers to connect and share ideas. We are continually looking to broaden our scope, and we encourage suggestions for future meeting themes. </p>

    <p>Visit any of our chapter homepages for more information on events near you.</p>
    <ul>
      <li>
        New England
      </li>
      <li>
        Philadelphia
      </li>
      <li>
        Mid-Atlantic
      </li>
      <li>
        San Francisco
      </li>
      <li>
        ...
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>D</strong>iscuss</h2>
      <p>Visit our forums or participate in LinkedIn discussions to find answers to your questions, find a new job, or bounce ideas off like-minded professionals.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>L</strong>earn</h2>
      <p>Visit the presentations page to learn more about a wide range of topics that are covered at LRIG events.  Visit our forums to read through current topics that are currently being discussed.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>N</strong>etwork</h2>
      <p>Find an event near you or organize a meeting that centers the discussion around a topic of your choice.  Contact any of the LRIG board members to find out how you can help build the LRIG community.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>P</strong>articipate</h2>
      <p>Would you like to participate in the organization?  There are many roles available from event volunteers to executive board positions. Get involved to help make LRIG a better community for all.</p>
    </div>
  </div>
  <div class="well">
    <h2>About LRIG</h2>
    <p>
      To learn more about the LRIG organization, visit the about pages for any of the following chapters.
      <ul>
        <li>
          <a href="#">About New England</a>
        </li>
        <li>
          <a href="#">About Philadelphia</a>
        </li>
        <li>
          <a href="#">About Mid-Atlantic</a>
        </li>
        <li>
          <a href="#">About San Francisco</a>
        </li>
        <li>
          ...
        </li>
      </ul>
    </p>
  </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>The LRIG Team.
</section>
